page-store {

    .list-md {
        margin: -1px 0 16px;
        padding: 5px 10px;
    }
    .item-md {
      border-radius: 0 !important;
      box-shadow: -1px 1px 10px #6f6767 !important;
      margin-bottom: 10px; 
    }
    pre {
      font-family: "Roboto", "Helvetica Neue", sans-serif !important;
    }
}
