<!--
  Generated template for the StorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Xerox Store Section</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item *ngFor="let order of cartItems">
          <pre>New Order, Id : {{order.cart_id}}</pre>
          <pre>Total : $ {{order.amount}}</pre>
          <pre>Order Status : {{order.order_status}}</pre>
          <pre>Payment Status : {{order.payment_status}}</pre>
          <button *ngIf="order.payment_status != 'completed'" ion-button block (click)="completePayment(order)" type="button">Complete Payment</button>
        </ion-item>
      </ion-list>
</ion-content>
