payment-form {
    form.checkout {
        max-width: 500px;
        // margin: 2rem auto;
        text-align: center;
        border: 2px solid #eee;
        background: white;
      
        font-family: monospace;
        color: #525252;
        font-size: 1.1rem;
      }
      
      form.checkout button {
        padding: 1.5rem 3rem;
        color: white;
        background: #ff0015;
        border: none;
        border-radius: 4px;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      
      form.checkout button:active {
        background: rgb(165, 76, 43);
      }
      input,
    .StripeElement {
        height: 40px;
        padding: 10px 12px;
        width: -webkit-fill-available;
        font-family: sans-serif;
        color: #32325d;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 4px;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    input:focus,
    .StripeElement--focus {
     box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
    .col{
        padding: 0 !important;
    }
    h4 {
        font-family: sans-serif !important;
    }
    .card-info {
        margin: 10px;
    }
    .card-details {
        margin: 30px 0px;
    }
    .form-row {
        margin: 30px 0px;  
    }
    .alert {
        color : red;    
    }
}
